* {
    box-sizing: border-box;
    font-family: "Fira Code Medium", monospace;
    user-select: none;
}

table td, table th {
    text-align: center;
    /*line-break: ;*/
}

.index-table {
    width: 95vw;
    margin: 0 auto;

    /* background-color: teal; */
}

.index-table .table-cover img {
    width: 5vw;
}